.service-grid {
    display: grid;
    grid-template-columns: 50% auto;
    height: 100vh;
    justify-content: center;
}

.service-title {
    font-size: 48px;
    line-height: 70px;
    color: black;
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-center {
    display: grid;
    grid-template-rows: 10% auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.service-text {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    width: 60%;
}

.service-img {
    width: 30vw;
    padding-left: 20vw;
}

.service-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-center {
    display: grid;
    grid-template-rows: 15% 45%;
    justify-items: center;
    padding-right: 10vw;
}

.service-h2-title-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-h2-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #26368B;
    color: white;
    border-radius: 15px;
    width: 70vw;
    height: 150px;
    margin-bottom: 15vh;
    font-size: 2.7rem;
}

@media screen and (max-width: 952px) {

    .service-h2-title {
        width: 80vw;
        height: 100px;
        margin-bottom: 10vh;
        font-size: 1.2rem;
    }

    .service-grid {
        display: grid;
        grid-template-columns: auto;
        height: auto;
        justify-content: center;
        background: #ECF1F8;
        /* Dark Shadow */
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
        border-radius: 12px;
        width: 90vw;
    }
    .service-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .service-img {
        padding-left: 0%;
        width: 50vw;
    }
    .service-alignment {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .service-center {
        display: grid;
        grid-template-rows: 15% auto;
        justify-items: center;
        padding-right: 0vw;
    }

    .service-title {
        font-size: 2rem;
        line-height: 2.5rem;
        background-color: #26368B;
        border-radius: 8px;
        color: white;
        padding: 10px;
        box-shadow: 1.5px 3px 2px 0 rgba(0, 0, 0, 0.6);
        width: 70vw;
    }

    .service-text {
        width: 95%;
        font-size: 1.2rem;
        line-height: 2.0rem;
        text-align: center;
    }
}