.company-grid {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /*border-radius: 18px;*/
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 90vh;
    height: 100vh;
    width: 100vw;
}

.small-grid {
    display: grid;
    grid-template-columns: 20% auto;
}

.company-left {
    padding-left: 165px;
    padding-right: 80px;
}

.company-right {
    padding-left: 40px;
}

.small-left {
    
}

.small-right {
    padding-left: 40px;
}

.company-title {
    font-size: 62px;
    font-weight: bold;
    line-height: 92px;
    color: white;
}

.company-card-sub {
    color: #812F49;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
}

.company-text {
    font-size: 18px;
    line-height: 32px;
}

.company-img {
    width: 25vw;
}