.home-separator {
    display: grid;
    grid-template-rows: 80% auto;
    height: 100vh;
    align-items: center;
    justify-items: center;
}

.home-grid {
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
    justify-items: center;
}

.home-left {
    padding-left: 16vw;
    padding-right: 5vw;
}

.home-right {
    padding-left: 40px;
}

.home-title {
    font-size: 72px;
    font-size: clamp(20px, 6vw, 72px);
    font-weight: bold;
    line-height: 92px;
    line-height: clamp(70px, 5vw, 92px);
}

.home-text {
    font-size: 18px;
    line-height: 32px;
}

.home-img {
    width: 40vw;
    width: clamp(350px, 30vw, 800px);
}

.home-button-blue {
    /*width: 115px;*/
    width: 180px;
    width: clamp(140px, 10vw, 180px);
    height: 56px;
    height: clamp(45px, 5vw, 56px);
    background: var(--newBlue);
    border: .5px solid rgba(0, 0, 0, .25);
    box-sizing: border-box;
    box-shadow: 0 30px 40px rgba(212, 217, 232, .2);
    border-radius: 6px;
    margin-top: 1.5vw;
    cursor: pointer;
}

/*
.home-button {
    width: 15vw;
    height: 3.5vw;
    background: linear-gradient(263.97deg, #3098ff 30.94%, #277bcf 92.72%);
    border: .5px solid rgba(0, 0, 0, .25);
    box-sizing: border-box;
    box-shadow: 0 30px 40px rgba(212, 217, 232, .2);
    border-radius: 6px;
    margin-left: 8vw;
    margin-top: 1.5vw;
    cursor: pointer;
}*/

.home-button-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    font-size: clamp(14px, 1.8vw, 18px);
    text-align: center;
    color: #fff;
}

.blue-text {
    color: #2E46C5;
}

@media screen and (max-width: 952px) {
    .home-separator {
        display: grid;
        grid-template-rows: 80% auto;
        height: auto;
        align-items: center;
        justify-items: center;
        margin-top: 5vh;
        margin-bottom: 10vh;
    }
    .home-grid {
        grid-template-columns: auto;
        grid-template-rows: 50% auto;
        justify-items: center;
        justify-content: center;
        margin-bottom: 5vh;
        width: 90%;
    }
    .home-right {
        grid-row: 1;
    }
    .home-left {
        display: grid;
        padding-left: 0%;
        padding-right: 0%;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    .home-title {
        font-size: 3rem;
    }
    .home-text {
        font-size: 1.2rem;
    }
    .home-button-blue {
        margin-top: 0%;
    }
    /*
    .company-grid {
        grid-template-columns: 100%;
        grid-template-rows: 10% auto;
        height: 100vh;
        width: 100vw;
    }*/
}