.footer-grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    height: 250px;
    /*align-content: center;*/
    /* Dark Blue Gradient */
    background: linear-gradient(225deg, #16192C 0%, rgba(33, 33, 66, 0.95) 100%);
    border-radius: 12px 12px 0px 0px;
    align-items: center;
}

.footer-logo-social {
    display: grid;
    grid-template-columns: 77% auto;
    margin-left: 15vw;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: grid;
    grid-template-columns: 80% auto;
    margin-left: 13vw;
}

.footer-left {
    display: flex;
    justify-content: start;
}

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-credits {
    display: grid;
    grid-template-columns: 80% auto;
    margin-left: 13vw;
}

.footer-logo {
    width: 35px;
    width: clamp(130px, 17vw, 45px);
    padding-top: 11px;
}

.footer-a {
    color: white;
    padding-left: 2vw;
    font-size: 1vw;
    font-size: clamp(11px, 1vw, 18px);
}

.footer-text {
    font-size: 1vw;
    font-size: clamp(11px, 1vw, 18px);
    color: white;
    padding-left: 2vw;
}

.float-right {
    float: right;
    margin-left: 22vw;
}

.footer-circle {
    background: #f3f9ff;
    border: 0.1px solid rgba(196, 196, 196, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 57px;
    width: 2.3vw;
    height: 2.3vw;
    margin-left: 3vw;
    display: flex;
    justify-content: center;
}

.footer-icon {
    width: 60%;
}

.footer-icon-facebook {
    width: 40%;
}

.footer-facebook {
    margin-left: 45vw;
}

.footer-grid-movil {
    display: none;
}

@media screen and (max-width: 952px) {
    .footer-grid-movil {
        display: grid;
        grid-template-rows: repeat(10, auto);
        height: fit-content;
        /*align-content: center;*/
        /* Dark Blue Gradient */
        background: linear-gradient(225deg, #16192C 0%, rgba(33, 33, 66, 0.95) 100%);
        border-radius: 12px 12px 0px 0px;
        justify-content: center;
    }
    .footer-grid {
        display: none;
    }
    .footer-logo {
        width: 15rem;
    }
    .footer-a {
        font-size: 1.5rem;
        text-align: center;
    }
    .footer-social {
        margin-bottom: 30px;
    }

    .footer-circle {
        width: 2rem;
        height: 2rem;
    }
}